/*reset css*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Raleway:900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, input, button,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0; }

.wrapper {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  width: 100%;
  min-height: 95vh;
  height: 100px;
  margin: auto;
  background: url("../img/bg.png") no-repeat center;
  background-size: cover;
  color: #ffffff;
  text-align: center; }

article {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center; }
  article button {
    background-color: #ffd119;
    border: none;
    color: black;
    font: 900 17px 'Lato', sans-serif;
    font-variant: small-caps;
    line-height: 0; }
    article button a {
      display: block;
      padding: 10%;
      text-align: center; }
  article h2 + button {
    width: 208px;
    height: 48px;
    margin-top: 45px; }
    article h2 + button:active {
      background-color: #ffc602;
      color: white; }
  article h2 {
    font: 5vh Raleway;
    letter-spacing: 2px;
    margin: 100px auto 0; }

header, nav {
  width: 83%;
  margin: 0 auto 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

header {
  height: 40px;
  padding: 4px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header p {
    line-height: 2.5em;
    color: #ffd119; }

nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*Hide dropdown links until they are needed*/
  /*Make dropdown links vertical*/
  /*Prevent text wrapping*/
  /*Display the dropdown on hover*/ }
  nav input {
    display: none; }
  nav ul.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    nav ul.main > li {
      display: block;
      position: relative;
      min-width: 50px;
      padding: 0 10px;
      outline: greenyellow; }
      nav ul.main > li label {
        display: block; }
      nav ul.main > li a {
        display: block;
        width: 100%;
        text-align: center;
        outline: indianred; }
      nav ul.main > li:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  nav li ul.dropMenu {
    display: none; }
  nav li ul.dropMenu li {
    display: block; }
  nav li ul.dropMenu li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px; }
  nav ul.main > li:hover {
    position: relative; }
  nav ul.main li.mainItems:hover a + .dropMenu, nav .dropMenu:hover {
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: white;
    padding-bottom: 20px; }
    nav ul.main li.mainItems:hover a + .dropMenu li, nav .dropMenu:hover li {
      display: block;
      margin-top: 20px;
      color: black;
      text-transform: capitalize; }
    nav ul.main li.mainItems:hover a + .dropMenu li:first-of-type, nav .dropMenu:hover li:first-of-type {
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 10px;
      padding-bottom: 10px; }
      nav ul.main li.mainItems:hover a + .dropMenu li:first-of-type::after, nav .dropMenu:hover li:first-of-type::after {
        content: '........';
        color: white;
        height: 0;
        border-bottom: 3px solid #ffd119; }

@media screen and (max-width: 1200px) {
  nav {
    position: relative; }
    nav ul.main {
      display: block;
      position: absolute;
      overflow: hidden;
      min-height: 100px;
      min-width: 50px;
      max-width: 50%;
      top: 0;
      right: 0;
      background: url("../img/hamburger.png") no-repeat top right;
      background-size: 50px auto; }
      nav ul.main li.mainItems {
        position: static;
        display: none;
        width: 80%; }
        nav ul.main li.mainItems ul.dropMenu {
          display: none; }
      nav ul.main li {
        width: 100%;
        padding: 0;
        line-height: 35px; }
      nav ul.main:hover {
        min-width: 30%;
        border-radius: 3px;
        background: #494642;
        padding: 5px;
        -webkit-transition: background 0.5s;
        transition: background 0.5s; }
        nav ul.main:hover > li.mainItems {
          display: block;
          min-height: 40px;
          margin: 0 auto; }
          nav ul.main:hover > li.mainItems a {
            display: block;
            width: 100%; }
        nav ul.main:hover li.mainItems:hover, nav ul.main:hover li.mainItems a:hover {
          height: 100%;
          -webkit-transition: height 0.5s;
          transition: height 0.5s; }
          nav ul.main:hover li.mainItems:hover ul.dropMenu, nav ul.main:hover li.mainItems a:hover ul.dropMenu {
            position: static;
            display: block;
            margin: 1px auto;
            background-color: transparent;
            -webkit-transition: height 0.5s;
            transition: height 0.5s; }
            nav ul.main:hover li.mainItems:hover ul.dropMenu li, nav ul.main:hover li.mainItems:hover ul.dropMenu a, nav ul.main:hover li.mainItems a:hover ul.dropMenu li, nav ul.main:hover li.mainItems a:hover ul.dropMenu a {
              width: auto;
              margin: 0; }
            nav ul.main:hover li.mainItems:hover ul.dropMenu li:first-of-type, nav ul.main:hover li.mainItems a:hover ul.dropMenu li:first-of-type {
              display: none; } }
